<!--/*<select id="aem-software" onchange="searchBlog1(0)" multiple >

<option value="">Select Category</option>
  <option value="aem-software">AEM</option>
 <option value="aem-software/developer">Developer</option>
    <option value="aem-software/trainee">Trainee</option>
    <option value="aem-software/architect">Architect</option>
</select>

  <select id="staffing" onchange="searchBlog1(0)" multiple>
   <option value="">Select Category</option>
   <option value="staffing">Staffing</option>
   <option value="staffing/manager">Manager</option>
   <option value="staffing/hrexecutive">HR Executive</option>
   <option value="staffing/salesmanager">Sales Manager</option>
   <option value="staffing/operationsmanager">Operational MAnager</option>

  </select>
  <select id="enterprise" onchange="searchBlog1(0)" multiple>
   <option value="">Select Category</option>
   <option value="enterprise">Enterprise</option>
   <option value="enterprise/manager">Manager</option>
   <option value="enterprise/executive">Executive</option>
   <option value="enterprise/salesmanager">Sales Manager</option>
   <option value="enterprise/workforce">Workforce</option>

  </select>

 <select id="doctor" onchange="searchBlog1(0)" multiple>
   <option value="">Select Category</option>
   <option value="doctor">Doctor</option>
   <option value="doctor/cardiologist">Cardiologist</option>
   <option value="doctor/neurologist">Neurologist</option>
   <option value="doctor/nephrologist">Nephrologist</option>
   <option value="doctor/oncologist">Oncologist</option>

  </select>

<button onclick="hitcount()">LoadMore</button>

<p id="blog12"></p>*/-->