<sly data-sly-use.tagobj="com.adobe.aem.siteav39.core.models.TagValueDropdownModel" />

<!--/*<select id="dropdown" onchange="searchBlog1(0)" multiple>

<option value="">Select Category</option>
<sly data-sly-list.item="${tagobj.cardData}">
<option value="${item}">
${item}
</option>
</sly>
</select>*/-->


<!--/*This is dropdown of all the tags created*/-->
<!--/*<sly data-sly-list.keyName="${tagobj.tagValues}">

${keyName}:  
<select id="${keyName}" onchange="searchBlog1(0)" multiple>
<option value="">Select Category</option>

<option value="${keyName}">${keyName}</option>
<sly data-sly-list.options="${tagobj.tagValues[keyName]}">
<option value="${options}">
${options}
</option>
</sly>
</select>
</sly>*/-->



<button onclick="hitcount()">LoadMore</button>






