<div class="multipleSelection">
            <div class="selectBox" 
               onclick="showCheckBoxes()">
                <select>
                    <option>Select options</option>
                </select>
                <div class="overSelect"></div>
            </div>

            <div id="checkBoxes" onchange="searchBlog()">
                <label for="first">
                    <input name="check" type="checkbox" value="AEM-Software" id="first" />
                    AEM
                </label>
                  
                <label for="second">
                    <input name="check" type="checkbox" value="AEM-Software/Trainee" id="second" />
                    Trainee
                </label>
                <label for="third">
                    <input name="check" type="checkbox" value="AEM-Software/Developer" id="third" />
                    Developer
                </label>
                <label for="fourth">
                    <input name="check" type="checkbox" value="AEM-Software/Architect" id="fourth" />
                    Architect
                </label>
            </div>

  <div id="checkBoxes1" onchange="searchBlog()">
                <label for="first">
                    <input name="check" type="checkbox" value="enterprise" id="first" />
                    AEM
                </label>
                  
                <label for="second">
                    <input name="check" type="checkbox" value="AEM-Software/Trainee" id="second" />
                    Trainee
                </label>
                <label for="third">
                    <input name="check" type="checkbox" value="AEM-Software/Developer" id="third" />
                    Developer
                </label>
                <label for="fourth">
                    <input name="check" type="checkbox" value="AEM-Software/Architect" id="fourth" />
                    Architect
                </label>
            </div>


        </div>
<!--/*<button onclick="searchBlog1()">Submit</button>*/-->


<p id="blog12"></p>